<div class="embed-responsive embed-responsive-16by9">
  {{!-- <iframe class="embed-responsive-item" src="{{file.expiring_embed_link.url}}"></iframe> --}}
   {{!-- <iframe class="embed-responsive-item" src="https://app.box.com/integrations/officeonline/openExcelOnlinePreviewer?fileId={{file.id}}"></iframe> --}}
    <iframe class="embed-responsive-item" src="{{file.expiring_embed_link.url}}"></iframe>
</div>


